body {
    font-family: "source_sans_proregular";
    font-size: 17px;
}

/* pre {
    font-family: "source_sans_proregular" !important;
} */

.nav-logo {
    width: 250px;
    height: 60px;
    margin-left: 10px;
}

.nav1 {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.nav2 {
    float: right;
    padding-top: 15px;
    color: #404040;
}

.nav-item1 {
    display: inline-block;
    text-decoration: none !important;
    color: #646464;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
}

.nav-item1:hover {
    color: #040404;
    transition: 0.5s;
}

.nav-item1:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(0, 0, 0);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-item1:hover:after {
    width: 100%;
    left: 0;
}

.carousel-inner {
    position: relative;
}

.cr-border {
    margin-top: 70px;
    position: absolute;
    z-index: 1;
    height: 600px;
}

.cr-img {
    margin-top: 70px;
    z-index: 2;
    height: 600px;
}

.div1 {
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
    text-align: justify;
}

.heading {
    padding-top: 40px;
}

.line-head {
    text-align: center;
}


.logo-left {
    float: left;
    width: 150px;
    height: 150px;
}

.logo-right {
    float: right;
    width: 150px;
    height: 150px;
}

.line-date {
    padding-top: 30px;
    font-size: 25px;
    text-align: center;
}

.ace-list-ul {
    list-style: none;
}

.ace-list-ul .ace-list-li {
    position: relative;
    padding-left: 20px;
}

.ace-list-ul .ace-list-li::before {
    content: '';
    width: 13px;
    height: 13px;
    position: absolute;
    background-image: url(/images/ace-featured.jpg);
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.sub-heading {
    font-size: 30px;
    text-align: center;
}

.sub-heading2 {
    font-size: 20px;
}

.speaker {
    padding: 20px;
    transition: transform 0.6s;
    border-radius: 20px;
}

.speaker:hover {
    transition: 0.5s;
    background-color: #ececec;
    transform: scale(1.1);
}

.speaker-nm {
    text-align: left;
}

.speaker-img {
    float: left;
    width: 180px;
    height: 180px;
    padding-right: 10px;
}


.online-btn {
    width: 270px;
    border: none;
    background: #807e7e;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.onl-btn-div {
    text-align: center;
}

.onl-btn-div1 {
    text-align: center;
    padding-top: 86px;
}

.online-btn:hover {
    color: #6e6d6d !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    box-shadow: antiquewhite;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
}

h1 {
    font-size: 80px;
}

h4 {
    text-align: center;
    padding-bottom: 30px;
}

.reg-dtl {
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
}

.reg-dtl1 {
    font-family: "source_sans_proregular";
}

ul {
    padding-top: 10px;
}

.bank-heading {
    font-size: 25px;
    padding-left: 20px;
    text-align: center;
}

.bank {
    padding-top: 10px;
    padding-left: 30px;
}

.logo-left2 {
    float: left;
    padding-right: 25px;
    width: 200px;
    height: 180px;
}

.logo-right2 {
    float: right;
    padding-left: 25px;
    padding-top: 20px;
    width: 200px;
    height: 180px;
}

.contact-dtl {
    text-align: center;
    display: block;
    position: relative;
}

.cont-dtl {
    font-size: 20px;
}



.contact-dtl2 {
    font-size: 25px;
    text-align: center;
    padding-top: 40px;
}

.name {
    position: absolute;
    text-align: justify;
    display: inline-block;
}

.num {
    position: relative;
    text-align: justify;
    display: inline-block;
}

.img-container {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}

.sp-img {
    display: inline-block;
    zoom: 1.4;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 5px;
    transition: transform 0.6s;
}

.sp-img:hover {
    transform: scale(1.5);
}

.map-head {
    padding-bottom: 50px;
}

.map {
    float: left;
    margin-right: 30px;
}

.addr {
    padding-top: 270px;
    padding-left: 100px;
}

#backtotopbtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    background-color: #807e7e;
    color: #ffffff;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 900;
    transition: 0.3s;
    opacity: 0.7;
}

#backtotopbtn:hover {
    background-color: #ffffff;
    color: #807e7e;
    box-shadow: antiquewhite;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
}

footer {
    padding-top: 20px;
    padding-bottom: 10px;
    color: #ffffff;
    text-align: center;
    background-color: #7a7979;
}